# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=nv2z3ypa
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=your_sanity_write_token

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_random_secret_here

# Twitter OAuth 2.0 (https://developer.twitter.com)
TWITTER_CLIENT_ID=your_twitter_client_id
TWITTER_CLIENT_SECRET=your_twitter_client_secret
